<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hd.kbswarn.modules.rain.mapper.SlRainCurMapper">

    <select id="homeList" parameterType="java.util.Map"
            resultType="com.hd.kbswarn.modules.rain.domain.vo.RainCurListVo">
        SELECT
        obj.stcd AS stcd,
        ssi.STNM AS stName,
        obj.tm AS tm,
        ssi.LGTD as lgtd,
        ssi.LTTD as lttd,
        obj.val as val,
        obj.h1 as h1,
        obj.h3 as h3,
        obj.h6 as h6,
        obj.h12 as h12,
        obj.h24 as h24,
        str.h1_level1 AS h1Level1,
        str.h1_level2 AS h1Level2,
        str.h1_level3 AS h1Level3,
        str.h3_level1 AS h3Level1,
        str.h3_level2 AS h3Level2,
        str.h3_level3 AS h3Level3,
        str.h6_level1 AS h6Level1,
        str.h6_level2 AS h6Level2,
        str.h6_level3 AS h6Level3,
        str.h12_level1 AS h12Level1,
        str.h12_level2 AS h12Level2,
        str.h12_level3 AS h12Level3,
        str.h24_level1 AS h24Level1,
        str.h24_level2 AS h24Level2,
        str.h24_level3 AS h24Level3
        FROM
        sl_rain_cur obj
        LEFT JOIN sl_st_info ssi ON obj.stcd = ssi.STCD
        LEFT JOIN sl_threshold_rain str ON obj.stcd = str.stcd
        <if test="null != item.column and '' != item.column and null != item.order and '' != item.order">
            order by obj.${item.column} ${item.order}
        </if>
    </select>
</mapper>